<div id="page-top" class="index">
<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <!-- <a class="navbar-brand" href="#page-top"><%= image_tag("logo.png") %></a> -->
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Qui suis-je ?</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">Le Yoga et moi</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://www.instagram.com/yoginesvds"  target="_blank" style = "margin-right:10px ">Instagram <i class="fa fa-fw fa-instagram"></i></a>
                    </li>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>

        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-text vcenter">
                        <h1 class="name text-center">INÈS VANDERSCHELDEN</h1>
                        <span class="skills">Professeur de Yoga</span>
                    </div>
                </div>
            </div>
        </div>

    </header>

<section id= "portfolio">
  <div class = "container">

    <div class="row">
      <div class="col-lg-12 text-center" style = "padding-bottom: 60px">
        <h2 style="font-weight: lighter">Qui suis-je?</h2>
      </div>
    </div>

    <div class = "row">
     <div class = "col-xs-12 col-md-6">
        <div class="card">
         <%= image_tag("baby.jpg", class: "card-img-top img-responsive") %>
         <div class="card-block">

           <p class="card-text text-justify">Franco-Slovène, née à Paris en 1990, je grandis en banlieue parisienne où je fais une partie de mes études.  À 15 ans, je découvre la magie de Paris et l’effervescence (ou le stress...) de ses transports en commun au quotidien pour aller au Lycée à Louis Le Grand.</p>

         </div>
       </div>
     </div>

     <div class = "col-xs-12 col-md-6">
        <div class="card">
         <%= image_tag("sisters-crop.jpg", class: "card-img-top img-responsive") %>
         <div class="card-block">
           <p class="card-text text-justify">3 sœurs, 4 chiens, 6 chats, 2 tortues d’eau, en passant par un caméléon, des lapins et des poissons rouges, la vie en famille nombreuse m’a conditionnée depuis mon plus jeune âge, et a mis au centre de ma vie la valeur du <strong>partage.</strong></p>

         </div>
       </div>
     </div>
    </div>

    <div class = "row">
     <div class = "col-xs-12 col-md-6">
        <div class="card">
         <%= image_tag("portfolio6.jpg", class: "card-img-top img-responsive") %>
         <div class="card-block">

           <p class="card-text text-justify">Je pars à Reims pour mes études d’école de commerce après 2 ans de classe préparatoire à Paris. Je fais mon échange académique <strong>au Mexique</strong> et, sur les conseils de mon père, <strong>teste pour la première fois le Yoga</strong> (merci Papa !), je commence une pratique régulière lors d’un de mes stages à <strong>Londres</strong> où je pratique <strong>le Hot Power Vinyasa Yoga</strong> plusieurs fois par semaine.</p>
         </div>
       </div>
     </div>

     <div class = "col-xs-12 col-md-6">
        <div class="card">
         <%= image_tag("crapaud.jpg", class: "card-img-top img-responsive") %>
         <div class="card-block">
           <p class="card-text text-justify">En janvier 2017, après plus de <strong>trois ans de pratique de Yoga Vinyasa</strong>, je laisse derrière moi la vie en entreprise et le Marketing et décide de me lancer. Passionnée et convaincue des bienfaits du yoga, je pars me former <strong>en Inde</strong>. Aujourd’hui je suis animée par l’envie de partager tout ce que le Yoga a pu m’apporter et continue à m’apporter chaque jour.</p>

         </div>
       </div>
     </div>
    </div>


  </div>
</section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style = "padding-bottom: 60px">
                    <h2 style="font-weight: lighter">Le Yoga et moi</h2>

                </div>
            </div>
            <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
            <%= image_tag("degree.jpg", class: "img-responsive yogime") %>
            </div>

                <div class=" col-xs-12 col-md-7 col-lg-7 col-lg-offset-1">


                    <p class ="paragraphs text-justify" style="padding-top: 20px">Ma volonté est de pouvoir communiquer les bienfaits d’une pratique régulière du Yoga, tant au niveau physique que mental et les répercussions positives sur nos actions au quotidien.
                    </p>
                    <br>

                    <p class = "paragraphs text-justify">J’enseigne principalement le <strong>Yoga Vinyasa</strong>, j’adapte mes cours aux besoins et niveau de mes élèves. Je peux proposer des <strong>flow doux</strong> permettant aux débutants d’intégrer les postures principales en restant synchronisés à leur respiration, des <strong>classes intermédiaires</strong> comprenant des passages plus rythmés avec des possibilités de modifications et variations pour satisfaire le plus grand nombre, et enfin des <strong>cours plus intenses et dynamiques</strong> offrant la possibilité de travailler sur des postures avancées.
                    </p>

                     <br>
                     <p class = "paragraphs text-justify">
                     <u>Mon petit plaisir</u> : accompagner chacune de mes classes d’une playlist musicale adaptée à chaque partie du cours de l’introduction, au pic, jusqu’à la relaxation finale.
                    </p>

                    <p class ="paragraphs text-center" style="padding-top: 20px">*NAMASTE*
                    </p>


                </div>
            </div>
<div class="row parcours">

<div class = "col-xs-12">
  <h3 class = "" style="font-weight: lighter"> Mon parcours : </h3>

    <p> <i class = "fa fa-check"></i> 6 mois de pratique de Hot Power Yoga à The House of Yoga à Londres.</p>

    <p><i class = "fa fa-check"></i>Plus de 2 ans et demi de pratique régulière de Yoga Vinyasa à The Yoga Factory à Paris.</p>

    <p><i class = "fa fa-check"></i>Pratique ponctuelle dans les studios parisiens suivants : Sivananda, Gérard Arnaud, Big

    Apple Yoga, et Bikram. </p>

    <p><i class = "fa fa-check"></i>Diplômée de la formation de professeur de Yoga 200h réalisée à Sampoorna Yoga India

    (RYS 200 Yoga Alliance), spécialisée en Ashtanga et Vinyasa « Flow ». </p>

    <p><i class = "fa fa-check"></i>Enseigne actuellement en entreprise et en cours particuliers. </p>

    <p><i class = "fa fa-check"></i>Enseigne en français et en anglais. </p>
</div>
</div>

        </div>
    </section>

    <!-- Contact Section -->

<section id = "contact">

<div class = "container">
<div class="row">
                <div class="col-lg-12 text-center" style = "padding-bottom: 40px">
                    <h2 style="font-weight: lighter">Contact</h2>
                </div>
            </div>
  <div class="text-center">
  <!-- <h3 style="font-weight: lighter; padding-bottom: 30px">Contactez moi pour connaitre le calendrier de mes cours</h2> -->
  <a style="text-decoration: none; color:black; font-weight: lighter"><h4 style="font-weight: normal padding-top:30px; font-size: 16px;"><i class="fa fa-fw fa-envelope-o"></i>      vanderschelden.ines@gmail.com</h4></a>
  <br>
  <a href="https://www.instagram.com/yoginesvds" target="_blank" style="text-decoration: none; color:black; font-weight: lighter"><h4 style="font-weight: normal padding-top:30px; font-size: 16px;"><i class="fa fa-fw fa-instagram"></i>      @yoginesvds</h4></a>
<!--   <h4 style="font-weight: normal">+33 7 79 82 74 83</h4> -->
  </div>
</div>
</section>


    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>


    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>

</div>

</html>

